{% extends 'base.html' %}
{% block content %}

<body class="body">
  <div class="headercontainer">
    <h1 class="header"> {{habit.title}} </h1>
    <div class="newhabit">
      <a href="{% url 'habits' %}">Home</a>
    </div>
    <div>
      <a class="logout description link" href="accounts/logout/">Logout</a>
    </div>
  </div>

  <div class="habitcontainer">
    <div>
      <h3 class="title link">
        <a href="{% url 'habits-detail' habit.pk %}">{{habit.title}}</a>
      </h3>
      <p class="details">
        {{habit.goal}}
      </p>
    </div>

    <div class="link activity">
      {{habit.activity}}
      <p class="link">
        <a href="{{habit.url}}">{{habit.url}}</a>
      </p>
      <p>
        Created at: {{habit.created_at}}
      </p>
    </div>


    <p class="link description">
      {% if book.category %}<a href='{% url "books-by-category" book.category.slug %}'>{{book.category}}</a>{% endif %}
    </p>

    <p class="edit-delete">
      <a href="{% url 'edit-book' pk=book.pk %}">Edit Book</a>
      <a href="{% url 'delete-book' pk=book.pk %}"
        onclick="return confirm('Are you sure you want to delete this?')">Delete Book</a>
    </p>

  </div>


</body>
{% endblock %}