{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <header class='header'>
        <div class='profile-pic'>
            <a href='#maybe a profile settings page'><img src='#somewhere'></a>  
        </div>
        <div class='site_title'>
            <h1 class='headline'>The Habit</h1>
            <h4 class='sub-headline'>a better-than-anticipated journey</h4>
        </div>  
    </header> 
    <nav class='nav'>
            <ul>
                <li class='nav-item button'><a href="{% url 'new_habit' %}">TRACK A NEW HABIT!</a></li>
                <li class='nav-item button'><a href='#daily journal/'>LOG TODAY'S ACTIVITIES</a></li>
            </ul>
    </nav>
    <main>

        <div class='activities'>
            <h3>Manage your daily habits, keep track of your progress and improve yourself as a person</h3> 
            {% comment %} redirect to habits_detail.html? {% endcomment %}
        </div>

        <div class='buddies'>
            <h3>Join your group of friends to achieve your goals together</h3>
            {% comment %} do we need buddies page? {% endcomment %}
        </div>

        <div class='chart'>
            <h3>View your chart</h3>
            {% comment %} display on this page AND on redirect to habits_detail? {% endcomment %}
        </div>

    </main>
</div>
{% endblock %}