{% extends 'base.html' %}
{% block content %}
<div class='container'>
    <header class='header'>
        <div class='profile-pic'>
            <a href='#maybe a profile settings page'><img src='#somewhere'></a>  
        </div>
        <div class='site_title'>
            <h1 class='headline'>The Habit</h1>
            <h4 class='sub-headline'>a better-than-anticipated journey</h4>
        </div>  
    </header> 
    <nav class='nav'>
            <ul>
                <li class='nav-item button'><a href='#form to create a goal/'>TRACK A NEW HABIT!</a></li>
                <li class='nav-item button'><a href='#daily journal/'>LOG TODAY'S ACTIVITIES</a></li>
            </ul>
    </nav>
    <main>
        <div>
            <p>SOME BREAKDOWN OF TRACKED HABITS</p>
        </div>

    </main>
</div>
{% endblock %}